<div ng-include="formulario.menuTemplate.url"></div>
<div class="container">
  <h3>Ingreso de datos</h3>
  <form class="col s12">
    <!-- Ingreso de Mashup -->
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">web</i>
        <input ng-model="venta.nombre" type="text" class="validate">
        <label >Nombre</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <input ng-model="venta.producto" type="tel" class="validate">
        <label >Producto</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">web</i>
        <input ng-model="venta.precio" type="text" class="validate">
        <label >Precio</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">web</i>
        <input ng-model="venta.name" type="text" class="validate">
        <label >Name</label>
      </div>
    </div>
   </form>
     <div class="row">
     <div class="divider"></div><br>
     <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="enviarGo()">Enviar
      <i class="material-icons right">send</i>
     </button>
     </div>
  </div>
   </div>
</div>